:root {
    --primary-white: #FFF;
    --primary-green: #093545;
    --secondary-green: #224957;
    --primary-light-green: #24b56d;
    --primary-red: #EB5757;
    --primary-green-dark: #092C39;
}