@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../src/assets/css/variables.css');

body {
  margin: 0;
  font-family: Montserrat !important;
  background-color: var(--primary-green) !important;
  color: var(--primary-white) !important;
  gap: 109px !important;
  /* height: 100vh; */
  background-image: url("../public/assets/bg_vector_image.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.validation-error-msg {
  color: var(--primary-red) !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 765.98px) {
  body {
    background-image: url("../public/assets/bg_vector_image_1.png");
  }
}

@media only screen and (min-width: 538px) and (max-width: 541px) {
  body {
    background-size: 540px auto;
  }
}